* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 696.3px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(to right,rgba(0,0,0,1),rgba(69,93,87,1));
}
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px; padding-top: 20px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  color: #ffffff;
}
.logo img{
  height: 50px;
  width: 80px;
  margin-right: 5px;
}

li{
  list-style: none;
  display: inline-block;
  
}
li a{
  font-style: italic;font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  margin-right: 70px;
  transition: 0.6s ease-in-out;
}
ul li a:hover{
    color:aquamarine; 
}
button{
  border-radius: 50px;
  padding: 3.5px;
  width: 120px;
  background: transparent;
  border: 3px solid aquamarine;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;
}
button:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: aquamarine;
    opacity: .5;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
}

button:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: aquamarine;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
    transition-delay: .2s;
}
button:hover{
    color: #fff;
}
button:hover:before{
    top: 0;
}
button:hover:after{
    top: 0;
}
button a{
  color: #ffffff; 
  font-weight: bold;
  font-size: 20px;
}
.par{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 1px;
  padding-left: 50px;
}
.par2{
  color: #ffffff;
  font-size: 15px;
  padding-left: 50px;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-weight:lighter;
}
.btn1{
  margin-top: 15px;
}
.btn1 a{
  font-size: 15px;
}
.aus {
  color: #ffffff;
  font-size: x-small;
  font-weight: 20px;
  letter-spacing: 0;
  word-spacing: 0;
}
.container{
  margin-top: 15vh;
  padding-right: 50px;
  display: flex;
  float: right;
}
.img1 {
  background-image: url(image1.jpg);
  background-size: contain;       /* or 'contain', depending on the effect */
  background-repeat: no-repeat;
  background-position: center;
  height: 237.0px;
  width: 424px;
  background-color: transparent;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
}
.img2{
  background-image: url(image\ copy.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 260.5px;
  width: 417px;
  background-color: transparent;
  border-radius: 20px;
  margin-top: 50px;
}